@page "/osobe"
@using WebApiPovezivanje.Models;
@inject HttpClient httpClient;
@inject NavigationManager navManager;

<h3>ListaOsoba</h3>
<button @onclick="Dodaj">Dodaj novu Osobu</button>
<ul>
    @foreach(var item in osobe)
    {
        <li>@item.Ime @item.Prezime  @item.Id
            <button @onclick="()=>Detalji(item.Id)" >Detalji</button>
            <button @onclick="()=>Uredi(item.Id)">Uredi Osobu</button>
            <button @onclick="()=>Obrisi(item.Id)">Obriši Osobu</button>

        </li>
    }

</ul>

@code {
    public List<Osoba> osobe = new List<Osoba>();

    protected override async Task OnInitializedAsync()
    {
        var result =await httpClient.GetAsync("https://expertvjezbeapi.azurewebsites.net/api/Osobes");
        if (result.IsSuccessStatusCode)
        {
            osobe = await result.Content.ReadFromJsonAsync<List<Osoba>>();

            osobe = osobe.OrderByDescending(x => x.Id).ToList();
        }

    }

    protected void Detalji(int idOsobe)
    {
        navManager.NavigateTo($"detalji/{idOsobe}");
    }
    protected void Uredi(int idOsobe)
    {
        navManager.NavigateTo($"edit/{idOsobe}");
    }
    protected void Obrisi(int idOsobe)
    {
        navManager.NavigateTo($"delete/{idOsobe}");
    }

    protected void Dodaj()
    {
        navManager.NavigateTo($"dodaj");
    }
}
